body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color:lemonchiffon;
}


.header {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: lightblue;
    margin: 0;
    height:100%;
    
    

}

.header h1 {
    text-decoration: Underline;
    text-align: left;
    
}

#input {
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
    border: black 1px solid;
    
}

.search {
    background: none;
    padding: 5px 10px;
}

.recent {
   
    display:inline-block;
    align-items: center;
    justify-content: center;
    background-color:lightblue;
    width:100%;
    

}

.recentSearch {
    list-style: none;
}

button { 
    background: lightblue;
    border: none;
    font-size: 18px;
    font-style: underline;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Weather {
    text-align:center;
    padding: 2rem;
}

#city {
    font-size: 30px;
    font-weight: bold;
    font-style: underline;
}

.Weather img{
    width:100px;
    height:100px;   
}

#temp {
    font-size: 28px;
    margin: 0;
    margin-left: auto;
}

#wind {
    font-size: 28px;
    margin: 0;
    margin-left: auto;
}

#humidity {
    font-size: 28px;
    margin: 0;
    margin-left: auto;
    padding: 8px 40px;
}

.box {
    display:inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color:#FFF8D7;
    width:400px;
}

.weekF{
    display: grid;
    padding-left: 20%;
    grid-template-columns: repeat(5,1fr);
    margin:0%
}

.date {
    font-size: larger;
}

.time,.date{
    color: Black;
    background-color: lightblue;
    
}

.weekF{
    background-color: azure;
    padding:0;
}

p {
    
    padding: 5px 10px;
}
.desc{
    color: Black;
}

.icon{
    width: 50px;
    height: 50px;
}
    


